body{
    display: flex;
    height: 100vh;
    font-family: 'Trebuchet MS';
    margin: 0;
    flex-direction: column;
}
#main{
    display: flex;
    width: 100%;
}
header{
    height: 10%;
    width: 100%;
    background-color: #604D53;
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    flex-direction: row-reverse;
    letter-spacing: 4px;
    border: 1px solid #444F5A;
}
article{
    height: 40%;
    background-color: #D5C5C8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    border: 1px solid #444F5A;
}
article > h2{
    letter-spacing: 2px;
    font-style: italic;
    font-size: 30px;
    height: 5%;
    margin-left: 40px;
}
article > p{
    text-indent: 40px;
    text-align: justify;
    align-self: center;
    font-size: 20px;
    word-spacing: 8px;
}
section > p{
    font-style: italic;
    font-size: 25px;
}
section{
    background-color: #DB7F8E;
    height: 100px;
    border: 1px solid #444F5A;
    display: flex;
    align-items: center;
    justify-content: center;
}
aside {
    border: 1px solid #444F5A;
    height: 107%;
    width: 30%;
    background-color: #FFDBDA;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
footer{
    background-color: #604D53;
    height: 10%;
    border: 1px solid #444F5A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
main{
    width: 80%;
}
nav {
    background-color: #DB7F8E;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
    
nav a {
    padding: 40px 40px;
    color: #FDFDFF;
    text-decoration: none;
    border-left: 1px solid #FDFDFF;
    display: flex;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 1px solid #444F5A;
}
#qbox {
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid #444F5A;
    text-align: center;
    line-height: 100px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    }
    
#qbox:hover {
    background-color: #DB7F8E;
    color: #FDFDFF;
    }
#wbox:hover {
        background-color: #DB7F8E;
        color: #FDFDFF;
}
#wbox {
            display: block;
            width: 100px;
            height: 100px;
            border: 2px solid #444F5A;
            text-align: center;
            line-height: 100px;
            color: black;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;
            }
#lewo{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}